.barcodeLookup {
    
    
}
.barcodePage {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}