<html>
    <head>
        <title>Result</title>
    </head>
    <body>
        <h1>Cashier</h1>
        <p>Product name: <%= productName%></p>
        <p>Quantity: <%= Quantity%></p>
    </body>
</html>